.inputfile + label {
    font-size: 1;
    font-weight: 500;
    color: rgb(24, 10, 10);
    background-color: rgb(235, 228, 228);
    display: inline-block;
    cursor: pointer;
    margin:0 auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: 0;
}

.form_box{
    background-color: #FFFFFF;
    min-height: 40px;
    padding: 30px 40px;
    width: auto;
    margin-bottom: 16px;
    min-width: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}
textarea {
    outline: none;
    resize: none;
    width: 100%;
    height:100px;
}
input[type=submit]{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
}