.Message_box, .Comment_box {
    background: #ffffff;
    padding: 10px 20px;
    width: auto;
    min-width: 170px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    border:1px solid #2F2E33;
    display:flex;
    align-items: flex-start;
    position: relative;
    z-index: 0;
}

.MyMessage_box {
    justify-content: flex-end;
    background-color: #f0f0f0fb;
}

.FriendMessage_box, .Comment_box {
    justify-content: flex-start;
}
.Comment_box {
    border-bottom-left-radius:0 ;
    border-bottom-right-radius: 0;
    border:0;
    border-bottom:1px solid;
    align-items: center;
}

.Comment_box_head {
    display: flex;
    margin-bottom: 16px;
}

.Comment_nickname {
    padding: 16px 10px;

}

.MyButtons {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.FriendButtons, .Buttons {
    position: absolute;
    margin-top: 100px;
    right: 10px;
    bottom: 5px;
}

.Message_box_content, .Comment_box_content {
    padding: 0 10px;
    max-width: 100%;
    margin-bottom: 20px;
    white-space:normal;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    right: 5px;
    width: 70%;
    min-width: 360px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    background-color: #D5D6D2;
}

footer #message_input {
    width: 70%;
    background-color: white;
    min-width: 200px;
    padding: 10px;
}

footer form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    right: 0;
}

footer textarea {
    width:80%;
    height: 80%;
    resize: none;
    border:0px;
    padding:0 10px;
    outline:none;
}

@media screen and (max-width:900px) {
    .Comment_box {
        display: block;
    }
    
}
@media screen and (max-width: 655px) {
    footer {
        width: 81%; 
    }

}