.main {
    display: flex;
}

.main_content {
    width: 100%
}

.rigth_bar {
    width: 95px;
    display: flex;
    justify-content: flex-end;
}
.head a {
    text-decoration: none;
    color:#2F2E33;
    background-color: #FFFFFF;
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_box {
    background-color: #FFFFFF;
    min-height: 40px;
    padding: 30px 40px;
    width: auto;
    margin-bottom: 16px;
    min-width: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

.post_box header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #2F2E33;
}

.post_box header a {
    display: flex;
    align-items: center;
}

.post_box_nickname {
    padding-left:15px;
}
.point {
    padding: 0 2px;
    margin-top: -6px;
}

.post_date {
    width: 100px;
    min-width: 100px;
}
.deletePost {
    width: 100%;
    width: 100%;
    display: flex;
    float: right;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.deletePost_button {
    width: 85px;
    height: 20px;
    margin: 2px;
}

.post_box_image {
    padding:5px 0;
    display: flex;
    justify-content:space-evenly ;
}

.post_box_image img {
    width:100%;
    height:100%;
    max-width:498px;
    max-height:370px;
    border-radius:16px
}

.post_box_content {
    line-height: 24px;
    max-height: 110px;
    overflow: hidden;
    position: relative;
}

.moreText {
    bottom: 0px;
    text-decoration: none;
    box-sizing: border-box;
    position: absolute;
    width: 96px;
    right: 0px;
    background: linear-gradient(to left,#ffffff 0,#ffffff 20%,rgb(255 255 255 / 0%) 100%);
    height: 24px;
    padding-bottom: 26px;
}

.moreText span {
    float: right;
    font-size:larger;
    color:#0e79b6;
}

.post_box_button {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: larger;
    height: 100%;
    color:#2F2E33;
}

.post_box_button a {
    color:#2F2E33;
}

.like_button :hover {
    color: crimson;
}

.comments_icon :hover {
    color:#0e79b6;
}

@media screen and (max-width: 655px) {
    .post_date, .point {
        display: none;
    }

    .post_box .avatar {
        width: 40px;
        height: 40px;
    }
}