body{
    background: #868e96;
}
#container{
    width:425px;
    margin:0 auto;
    margin-top:5%;
    margin-bottom:5%;
}
.errorForm p{
    font-size: smaller;
    width: 108%;
    color:#f03e3e;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
}

form input {
    outline:none;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

select {
    width: 30%;
    padding: 8px 22px;
    border: 1px solid #ccc;
    margin-bottom:3%;
    border-radius: 100px;
}

input[type=date]{
    width: 61%;
    padding: 8px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 7px 21px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
}

input[type=button], input[type=reset], input[type=submit]{
    background-color: #495057;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #495057;
}

#logo {
    display: flex;
}

#loopy_logo {
    margin-left: -28%;
    margin-top: 10%;
    width: 105%;
    right: 0px;
    margin-right: -34%;
}

#loopy_name {
    width: 60%;
    height: 50%;
    margin-top: 30%;
    margin-left: 2%;
}

@media screen and (max-width:570px) {
     form {
        width: 85%;
    }

    #loopy_logo {
        margin-left:-38%;
    }
    
}