.chatBoxes {
    background: #ffffff;
    min-height: 40px;
    padding: 30px 40px;
    width: auto;
    min-width: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}
    
.Message_box {
    background: #ffffff;
    min-height: 40px;
    padding: 30px 40px;
    width: auto;
    min-width: 170px;
    border-bottom: 1px solid darkgray;
}

.Message_box a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;
    font-size: larger;
}

.Message_box_nickname {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.last_date {
    right:0px;
}

@media screen and (max-width:700px) {
    .Message_box a {
        font-size: medium;
    }
    .Message_box {
        padding: 30px 0px;
    }
}

@media screen and (max-width:600px) {
    
    
}