.notification, .adminTask, .Searched_user, .Subscription, .Subscriber, .Waiting {
    background: #ffffff;
    min-height: 40px;
    padding: 10px 20px;
    margin-bottom: 5px;
    width: auto;
    min-width: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification_box, .adminTask_box, .friend_box{
    display: flex;
    align-items: center;
}
.notification_title, .adminTask_title, .friend_box_title, .Subscription_title, .Subscriber_title, .Waiting_title{
    padding-left: 10px;
}

.notification_button, .adminTask_button, .searched_buttons, .Subscription_buttons, .Subscriber_buttons, .Waiting_buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    margin:2px;
}