.main {
    display: block;
}

.bio_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bio_box_subscription, .bio_box_subscribers, .bio_box_waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio_user {
    display: flex;
    align-items: center;
}

.bio_box_nickname {
    padding-left: 10px;
}

.bio_button {
    width: 100%;
    position: relative;
}

.bio_button input {
    outline: none;
    
}
.bio_msg {
    position: relative;
}

.bio_button a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.bio_signalment {
    width: 100%;
    height: 40px;
    margin:5px 0;
}

.bio_button .signalment_button {
    width:100%;
    outline:none;
}

.bio_msg {
    color: inherit;
    background-color: #3A6199;
}

