body{   /*donne la couleur de fond */
    background-color:#D5D6D2;
    color:#2F2E33;
}

.sidebar {  /*s'occupe de la palce de la sidebar*/
    height:100%;
    width:30%;
    position:fixed;
    background-color:rgba(43, 13, 13, 0);
    z-index: 0;
    top: 0;
    left:0px;
    overflow-x: hidden;
    max-width: 284px;
    min-width: 75px; 
    display: flex;
    flex-direction: column; 
    padding-left: 10px;

}
.sidebar_div_style {
    display:flex;
}
.sidebar_div_style:hover {
    border-radius: 75px;
    border:0px;
    background-color: rgba(240, 248, 255, 0.226);
    
}

.pointer {
    cursor: pointer;
}

.text{
    cursor: text;
}

.cursorDefault {
    cursor: default;
}

.spaced_item {  /*Classe servant a cre un espace reelatif a la taille dee la page entre chaque item */
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.sidebar_user, .FriendLinked_box {     /* s'occupe de la div user */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
}

.dropUp_content {   /*correspond aux bouton de profil/logout*/
    display: none;
    max-width: 170px;
    width:10%;
    margin-left: clamp(80%,15%,330px);
    position: absolute;
}
.dropUp:hover .dropUp_content { /*permet l'apparition des boutons profile/logout */ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.sidebar_user_button {   /*genere les boutons profile/logout*/
    width:100px;
    height:30px;
    margin:5px;
    background-color: aliceblue;
    color:black
}

.noBackground { /*Rend le background transparent*/
    background-color: rgba(0, 0, 0, 0);
}

.Menu { /*S'ocuppe de la disposition du menu */
    width: 100%;
    padding:16px;
    padding-right: 30px;
    height: auto;
    display: flex;
}

.Menu nav {
    width:100%;
    margin-right:16px;
}

.Menu a {   /*s'occupe des liens du menu*/
    font-size:20px;
    color:#2F2E33;
  display: flex;
  align-items: center;
  height: 50px;
}

.menu_icon {    /*s'occupe des icones des liens*/
    margin:5px;
}
.other_menuIcon {   /*rectifie le decalage de certaines icones*/
    padding-left: 3px;
}
.message_icon { /*rectifie le decalage de l'icone message*/
    padding-right: 1px;
}

.pin {
    position: absolute;
    padding: 1px 5px;
    font-size: 13px;
    border-radius: 50%;
    background: crimson;
    color: aliceblue;
}
.notif_pin {
    position: absolute;
    margin-left: 128px;
    margin-top: -32px;
}
.admin_pin {
    position: absolute;
    margin-left: 149px;
    margin-top: -32px;
}
.sidebar_text { /*s'occupe du text dans la sidebar*/
    text-decoration: none;
    font-size:16px;
    color:#2F2E33
}
.avatar {   /*S'occupe de la pp*/
    width:50px;
    height:50px;
    border-radius: 50%;
    
}
.round_icon {    /*genere des icones rondes*/
    border-radius:50%;
}
.user_name {    /*S'ocuupe du pseudo*/
    padding:15px;
}

.FriendLinked_box {
    align-items: center;
    padding:0px
}

.FriendLinked_box a {
    display: flex;
}
.connected_Friends {    /*S'occupe des amis connectes*/
    margin-top: 20px;
    padding:10px;
    height: 310px;
    border-top:1px solid #2F2E33;
    border-bottom:1px solid #2F2E33;
}

.connected_Friends .results {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connected_Friends .results #people {
    font-size:large;
}

.connected_Friend_name {
    padding:8px;
}
.connectedFriends_boxes {
    width: 100%;
    display: flex;
    justify-content: center;
}
.connectedFriends_boxes i {
    margin-left: 100%;
}
.connectedFriends_boxes img {
    width: 36px;
    height: 36px;
}
.connected_pin_background {
    border-radius: 50%;
    padding: 1px 1px;
    width: 9px;
    height: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
    margin-left: -11%;
    margin-top: 21%;
}
.connected_pin {
    padding: 1px 1px;
    width: 5px;
    height: 5px;
    background-color:limegreen;
}

.head {
    position: fixed;
    display: flex;
    margin-left: clamp(0px,32%,530px);
    margin-right: auto;
    max-width: 980px;
    padding-top: 45px;
    width: 65%;
    justify-content: flex-end;
    align-items: center;
}

.main {
    margin-top: 100px;
    padding:0px 10px;
    width:95%
} 

.main_content {
    margin-bottom: 60px;
}
.centered { /*Centre le contenu de la page*/
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    margin-left: clamp(0px,32%,530px);
    max-width: 922px;
    min-height: 100vh;
    padding: 24px 0;
    margin-right: 10%;
}

.searchbar {    /* gestin de barre de recherche*/
    margin-right: 6px;
    margin-top: -9px;
    width: 0px;
    height: 21px;
    padding-right: 21px;
    padding-left: 20px;
    width: 40px;
    height: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline: 0pc;
}
.round_button { /* genere des boutons arrondis*/
    border-radius: 75px;
    border:0px;
}

.red_button {   /*genre des boutons rouges*/
    background-color: crimson;
    color: #ffffff;
}

.blue_button {
    background-color: #0e79b6;
    color:#ffffff
} 

.sbox { /* lie a la barre de recherche*/
    position: sticky;
    width:100%;
    padding:5px;
}

.sbox:focus {   /*agrandi la barre de recherche*/
    width:500px;
    height: 40px;
}

.noDecoration_links a { /*enleve les decoration des lien d'un div*/
    text-decoration: none;
    color:inherit;  
}

#sb_form {  /*lie a la barre de recherche*/
    margin-top: 20px;
    width:100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}


.searchbar:focus {  /*agrandi la barre de recherche*/
    width:100%;
    height: 40px;
    margin-top: -10px;
    border-bottom: 2px solid #2F2E33;
    background-color: #ffffff;
    border-radius: 0%;
    cursor: text;
}

.search_icon {  /*gere l'icone de recherche*/
    margin-right: 19px;
    position: absolute;
    margin-top: 3px;
    z-index: -1;
}


.logo { /*S'occupe du logo*/
    min-width: 60px;
    min-height: 60px;
    width: 100%;
    height:100%;
    max-height: 100px;
    padding:10px;
    z-index:2;
}

#loopy_logo {
    margin-top: 8px;
    position: absolute;
    height: 130px;
    margin-left: -100px;
}
#loopy_name {
    position: absolute;
    height: 35px;
    margin-top: 60px;
    position: absolute;
    margin-left: 70px;
} 

.signalment_button {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.noBorder {
    border:0px;
}

@media screen and (max-width: 655px) {  /*gere la disposition sur petit ecrans*/
    #loopy_name {
        display: none;
    }
    #loopy_logo {
    margin-top: 146px;
    margin-left: -57px;
    }
    .sidebar a {
        float: none;
    color: rgba(0, 0, 0, 0);
    text-align: left;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding-left: 33%;
    align-content: center;
    align-items: center;
    justify-content: center;
    }
    .sidebar a:hover {
        color:rgba(0, 0, 0, 0);
    }

    .sidebar a .menu_link_text {
        position: absolute;
        display: none;
        z-index: -1;
        text-decoration: none;
    }
    .sidebar i {
        color:#2F2E33;
        pointer-events:fill;
        font-size: 30px;
    }
    .sidebar {
        width:75px;
    }
    .menu_icon {
        margin-left: 22px;
        margin-right: 0px;
    }
    .other_menuIcon {
        margin-left: 75px;
    }
    .message_icon {
        padding-left: 30px;
    }
    .profile_icon {
        margin-left:16px;
    }
    .admin_icon {
        margin-left:92px;
    }
    .pin {
        display: block;
    }
    .connected_pin_background {
        position: absolute;
        margin-top: 36%;
        margin-left: 30%;
    }
    .admin_pin,.notif_pin {
        margin-left: -27px;
        margin-top: -37px;
    }

    .connectedFriends_boxes i {
        display: none;
    }

    .head {
        margin-left: 95px;
        width: 75%;
        right: 20px;
    }

    .centered {
        margin-left: 95px;
        margin-right: clamp(84px,19%,250px);

    }

    .Menu {
        padding: 7px;
        justify-content: center;
    }

    .sidebar_user {
        justify-content: center;
    }
    .user_name,.connected_Friend_name {
        display: none;
    }
    
    .sidebar_user_button {
    width: 50px;
    height: 30px;
    margin: 0px;
    }
    .dropUp_content {
    margin-left: -7%;
    position: relative;
    }

}

@media screen and  (max-width:455px) {
    .head {
        right:auto;
    }
    
}

@media screen and (max-height:565px) {  /*gere la disposition sur petit ecrans*/
    .connected_Friends {
        display: none;
    }
}
